/**
 * @name default
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://raw.githubusercontent.com/FletchermedUwU/DiscordStuff/main/theme.css');

:root {
  --accentcolor: 87,100,241;
  --accentcolor2: 243,126,254;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 55,57,63;
  --backgroundprimary: 48,50,55;
  --backgroundsecondary: 42,44,48;
  --backgroundsecondaryalt: 34,35,39;
  --backgroundtertiary: 29,30,33;
  --backgroundfloating: 16,17,19;
}

/* Any custom CSS below here */


