/**
 * @name default
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://raw.githubusercontent.com/FletchermedUwU/DiscordStuff/main/theme.css');

:root {
  --accentcolor: 83,96,237;
  --accentcolor2: 239,122,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 130,135,135;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 51,53,59;
  --backgroundprimary: 44,46,51;
  --backgroundsecondary: 38,40,44;
  --backgroundsecondaryalt: 30,31,35;
  --backgroundtertiary: 25,26,29;
  --backgroundfloating: 12,13,15;
}

/* Any custom CSS below here */


